.club-description {
    padding-top: 110px;
    padding-bottom: 95px;
}

.club-description-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.club-description__img {

}

.club-description-video {
    position: absolute;
    right: 0;
    top: 43px;
    z-index: 1;
}

.club-description-video__control {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    border-radius: 60px;
    box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
    background-color: #5da8ef;
}
.club-description-video__control img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);

}


.club-description__text {
    width: 340px;
    margin-bottom: 45px;
    margin-top: 60px;
    margin-left: 115px;
    opacity: 0.65;
    color: #616161;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.club-description__link {
    margin-left: 115px;
}

