.slide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 95px;
}

#headerSlider.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.slide-item {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.slide-item__desc {
    width: 500px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slide-item__heading {
    color: #0b0c11;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    line-height: 64px;
    margin-bottom: 14px;
}

.slide-item__heading span {
    display: block;
    opacity: 0.9;
    color: #5da8ef;
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin-bottom: 25px;
}

.slide-item__text {
    margin-top: 18px;
    width: 390px;
    opacity: 1;
    color: #8f8f8f;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.slide-item__text p {

}

.slide-item__img {
    width: 1016px;
    height: 572px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.3);

}

.slide-item__img--bg-1 {
    background-image: url("../../img/img/img-header.jpg");
}

.slide-controls {
    position: absolute;
    width: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 0;
}

.slide-controls__left {

}

.slide-controls__right {

}

.slide-controls-number {
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    color: #ebebeb;
    text-transform: uppercase;

}

.slide-controls-number__active {
    color: #5da8ef;
}

.slide-controls-number__total {
    color: #262626;
}