.site-desc {
    position: absolute;
    right: -50px;
    top: 58px;
}

.site-desc__content {
    color: rgba(11, 12, 17, 0.2);
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    position: absolute;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
}

.header-social {
    width: 20px;
    position: absolute;
    right: -45px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.header-social__item {
    margin-bottom: 34px;
}

.header-social__item:last-child {
    margin-bottom: 0;
}