.header {
    position: relative;
    margin-bottom: 95px;
}

.site-desc {
    position: absolute;
    right: -50px;
    top: 58px;
}

@media (max-width: 1400px) {
    .site-desc {
        right: 30px;
        top: 170px;
    }
}

.site-desc__content {
    color: rgba(11, 12, 17, 0.2);
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    position: absolute;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
}

@media (max-width: 1400px) {
    .site-desc__content {
        color: #ebebeb;
    }
}


.header-social-wrapper {
    width: 20px;
    position: absolute;
    right: -45px;
    bottom: 0;
}

@media (max-width: 1400px) {
    .header-social-wrapper {
        right: 30px;
        bottom: 30px;
    }
}




