.navigation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1254px) {
    .navigation-wrapper {
        flex-direction: row;
        height: 128px;
    }
}

.nav-logo-wrapper {
    width: 100%;
   text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width: 1254px) {
    .nav-logo-wrapper {
        margin-right: 190px;
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;

    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'League-Spartan', sans-serif;
    font-weight: 700;
}
@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        justify-content: center;
    }
}
@media (min-width: 1254px) {
    .navigation {
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
    }
}

.navigation__item {
    text-align: center;
    margin-bottom: 15px;

}
.navigation__item:last-child {
    margin-right: 0;
}
@media (min-width: 768px) {
    .navigation__item {
        margin-right: 40px;
        margin-bottom: 0;
    }
    .navigation__item:last-child {
        margin-right: 0;
    }
}

.navigation__link {
    color: #0b0c11;
    text-decoration: none;
    opacity: 0.9;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.58px;
    font-family: 'League-Spartan-Bold', san-serif;
}



.site-desc {
    width: auto;
    display: block;
    position: static;

}
@media (min-width: 1254px) {
    .site-desc {
        right: 30px;
        top: 170px;
        position: absolute;
        z-index: 9;
        width: 12px;
        height: 12px;
    }
}
@media (min-width: 1400px) {
    .site-desc {
        right: -50px;
        top: 58px;
    }
}

.site-desc__content {
    position: static;
    color: rgba(11, 12, 17, 0.2);
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin-bottom: 20px;
}

@media (min-width: 1254px) {
    .site-desc__content {
        color: #ebebeb;
        transform: rotate(-90deg) translate(-100%, 0);
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: left top;
    }

}
@media (min-width: 1400px) {
    .site-desc__content {
        color: rgba(11, 12, 17, 0.2);
    }
}







