.quote {
    padding-top: 95px;
    padding-bottom: 110px;


}

.quote-wrapper {
    width: 610px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}

.quote-wrapper:after {
    content: "";
    width: 2px;
    height: 100px;
    background-color: #5da8ef;
    position: absolute;
    bottom: -58px;
    left: 50%;
    transform: translate(-50%, 100%);

}

.quote__text {
    opacity: 0.9;
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.26px;
    margin-bottom: 25px;

}

.quote__author {
    opacity: 0.9;
    color: #333333;
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}







