.quote {
    padding-top: 45px;
    padding-bottom: 55px;
}
@media (min-width: 992px) {
    .quote {
        padding-top: 95px;
        padding-bottom: 110px;
    }
}

.quote-wrapper {
     width: 100%;
     padding: 0 15px;
     margin: 0 auto;
     text-align: center;
     position: relative;
 }
@media (min-width: 640px) {
    .quote-wrapper {
        width: 610px;
        padding: 0;
    }
}

.quote-wrapper:after {
    content: "";
    width: 2px;
    height: 50px;
    background-color: #5da8ef;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translate(-50%, 100%);
}
@media (min-width: 992px) {
    .quote-wrapper:after {
        height: 100px;
        bottom: -58px;
    }
}


.quote__text {
    opacity: 0.9;
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.46;
    letter-spacing: 0.26px;
    margin-bottom: 25px;
}
@media (min-width: 992px) {
    .quote__text {
        font-size: 26px;
        margin-bottom: 25px;
    }
}

.quote__author {
    opacity: 0.9;
    color: #333333;
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}







