.shop {
    padding-top: 47px;
    padding-bottom: 55px;
    position: relative;
}
@media(min-width: 1254px) {
    .shop {
        padding-top: 95px;
        padding-bottom: 110px;
        position: relative;
    }
}

.shop:before {
    content: "";
    width: 100%;
    height: 984px;
    position: absolute;
    right: 0;
    left: 0;
    top: -330px;
    bottom: 0;
    z-index: -1;
    background-image: url("../../img/bg/bg-lines.png"), url("../../img/bg/bg-water.jpg");
    background-repeat: repeat-y, no-repeat;
    background-position: center, center;
    background-size: auto, cover;
}






.shop-slider-wrapper {
    height: 565px;
    margin-bottom: 80px;
    position: relative;

}
.shop-slider-special-holder {
    right: 0;
}
@media(min-width: 1394px) {
    .shop-slider-special-holder {
        right: -85px;
    }
}


.shop-slider {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.shopSlider-controls {
    position: relative;
}

.shopSlider-left {
    position: absolute;
    width: 40px;
    height: 48px;
    padding: 15px;
    left: -15px;
    bottom: 120px;
    z-index: 9;
    cursor: pointer;

}
@media(min-width: 650px){
    .shopSlider-left {
        bottom: calc(120px + 80px);
        transform: translate(100%, 0%);
        left: 0;
    }
}
@media(min-width: 1334px){
    .shopSlider-left {
        left: 0;
        transform: translate(-100%, 0%);
    }
}

.shopSlider-right {
    position: absolute;
    width: 40px;
    height: 48px;
    padding: 10px;
    right: -15px;
    bottom: 120px;
    z-index: 9;
    cursor: pointer;
}
@media(min-width: 650px){
    .shopSlider-right {
        bottom: calc(120px + 80px);
        transform: translate(-100%, 0%);
        right: 0;
    }
}
@media(min-width: 1334px){
    .shopSlider-right {
        right: 0;
        transform: translate(100%, 0%);
    }
}


.board {
    position: relative;
    width: 250px;
    height: 435px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 650px) {
    .board {
        padding-left: 185px;
        width: 635px;
    }
}
@media(min-width: 1254px) {
    .board {
        padding-left: 0;
        margin-left: 0;
    }
}

.board__img-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 320px;
    background-color: #ececec;


}
@media(min-width: 650px) {
    .board__img-holder {
        left: 185px;
    }
}
@media(min-width: 1254px) {
    .board__img-holder {
        left: 0;
    }
}

.board__img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}


.board-desc {
    width: 210px;
    height: 110px;
    position: absolute;
    top: 195px;
    right: 0;
    z-index: 9;
    text-align: right;
}
@media(min-width: 650px) {
    .board-desc {
        right: auto;
        left: 400px;
        text-align: left;
    }
}
@media(min-width: 1254px) {
    .board-desc {
        left: 215px;
    }
}



.board-cat {
    color: #7a7a7a;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.board-title {
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.26px;
}

.board-buy {
    margin-top: 38px;
    margin-left: 55px;

}

.board-buy__price {
    color: #ce60a8;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.1px;
    margin-bottom: 3px;
}

.board-buy__link {
    color: #333333;
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin-left: 2px;
}


.shop-link-wrapper {
    display: flex;
    justify-content: center;
}

