.shop {
    padding-top: 95px;
    padding-bottom: 110px;

}

.shop-slider {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.board {
    position: relative;
    width: 350px;
    height: 435px;
}

.board__img-holder {
    width: 250px;
    height: 320px;
    background-color: #ececec;
    position: absolute;
    left: 0;
    bottom: 0;
}

.board__img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}


.board-desc {
    width: 210px;
    height: 110px;
    position: absolute;
    top: 195px;
    left: 215px;

}

.board-cat {
    color: #7a7a7a;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.board-title {
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.26px;
}

.board-buy {
    margin-top: 38px;
    margin-left: 55px;

}

.board-buy__price {
    color: #ce60a8;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.1px;
    margin-bottom: 3px;
}

.board-buy__link {
    color: #333333;
    font-family: 'League-Spartan-Bold', san-serif;
    font-size: 9px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5.4px;
    margin-left: 2px;
}


.shop-link-wrapper {
    display: flex;
    justify-content: center;
}

